/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app {
  min-height: 100vh;
  background:white;
}

.serena {
  color: rgb(47, 9, 80);
  background: rgb(196, 232, 229);
  align-items: center;
}
.topbar {
  background: rgb(196, 232, 229);
  width: 100%;
  height: 80px;
  align-items: center;
}

.name {
  height: 100vh;
  
}

h1 {
  font-size: 110px; 
  }


.blue {
  color: rgb(26, 130, 194);
}
.work {
  background: rgb(196, 232, 229);
}

.profilePic {
  width: 470px;
  height: 667px;
  padding: 8px;
  align-items: center;

}

.projects {
  border: 2px solid black;
}

.title {
  color: rgb(26, 130, 194);
  padding-left: 2%;
}





 

 